/*!
 * Stylesteet: Custom.css (Use for custom style Navigation/Link/Span/P/h1,h2,h3,h4 and other basic element)
 * Main Stylesteet v1.0 (http://wethinkstudio.com)
 * Copyright 2017 We Think Studio
 */

/*========= HOME PAGE ==================
=============================================*/
.top_header { float: left; width: 100%; background: #fff; border-bottom: 1px solid #ebebeb; padding: 5px 0px 5px;box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);z-index: 11; position: relative;}
span.top_logo { padding: 4px 0px 4px; float: left; }
ul.top_navigation { display: inline-flex; list-style: none; float: right; text-align: right; padding-left: 0; margin-bottom: 0; }
ul.top_navigation>li { text-align: right; padding: 10px 10px 10px; }
.slider_title {
    font-size: 38px;
    font-family:black;
    color: var(--primary);
    line-height: normal;
}
.slider_tagline {
    color: var(--blue);
    font-size: 24px;
    font-family: bold;
    width: 50%;
    text-align: left;
}
.slider_caption {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    padding: 60px 0px 60px;
}
.home_slider_container {
    float: left;
    width: 100%;
    display: block;
    background: #fff;
}
.slider_price {
    font-size: 21px;
    font-family: semibold;
    color: var(--primary);
    text-align: left;
    margin: 20px 0px 20px;
    display: block;
}
ul.slider_spec {
    text-align: left;
    padding-left: 0;
    margin: 0px;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
}
.primary_btn {
    background: var(--blue);
    color: #fff;
    padding: 10px 20px 10px;
    float: left;
    display: block;
    border: 1px solid #930b9c;
    text-align: center;
    text-decoration: none;
    font-family: 'semibold';
}
.second_btn{
    background: transparent;
    color:var(--blue);
    padding: 10px 20px 10px;
    float: left;
    display: block;
    border: 1px solid var(--blue);;
    text-align: center;
    text-decoration: none;
    font-family: 'semibold';
}
ul.solution_list {
    list-style: none;
    padding-left: 0;
    width: 100%;
    margin: 0 auto;
}
ul.solution_list>li {
    width: 33.33%;
    display: block;
    float: left;
}
.product_container {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
}