#loaderDiv {
    background: rgba(0, 0, 0, 0.73);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    margin: auto;
    z-index: 999999999999;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.spinner {
    margin: 20% 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}
.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
.top_header{
    background: #fff;
    float: left;
    width: 100%;
    vertical-align: middle;
    display: table;
    padding: 16px 0px 10px;
}
.home_icon:before {
    content: "\e923";
    position: absolute;
    right: 5px;
    font-size: 16px;
    top: 1px;
    font-weight: 600;
}
span.icon_set.home_icon {
    float: left;
    margin-right: 6px;
    position: relative;
}
ul.social-icons {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}
li.social-icon {
    display: inline-block;
    padding: 0;
}
span.download_text {
    text-align: right;
    float: right;
    margin-top: 10px;
    color: var(--blue);
    font-size: 14px;
    font-family: 'heavy';
    margin-left: 20px;
}

.home_slider_container {
    float: left;
    width: 100%;
    background: #fff;
    position: relative;
    height: 494px;
    overflow: hidden;
}
.home_slider_container .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 15px !important;
    text-align: right !important;
    right: 5% !important;
}

/*Book Car Floating Container*/

.floating-icons {
    width: 49px;
    border: 1px solid #0c2e75;
    position: fixed;
    right: 0;
    top: 30%;
    overflow: hidden;
    z-index: 12;
    background: #0c2e75;
}
.floating-icons li {
    cursor: pointer;
    border-bottom: 1px solid #0c2e75;
    height: 47px;
    width: 220px;
    float: right;
}
.floating-icons li a {
    padding-left: 20px;
    font-size: 13px;
    color: #fff;
    text-transform: capitalize;
    height: 47px;
    line-height: 47px;
    display: block;
    font-family: 'heavy';
}
.floating-icons li a:hover{
    text-decoration: none;
}
.floating-icons li:hover{
    background: #1d3e82;
}
.floating-icons li .hide-icon {
    border-left: 1px solid #0c2e75;
    width: 49px;
    height: 47px;
    display: block;
    float: right;
    text-indent: -999px;
    overflow: hidden;
}
.floating-icons li.cont .hide-icon {
    background: url(../images/float-book.png) center 15px no-repeat;
}
.floating-icons li.book .hide-icon {
    background: url(../images/book-call.png) center 15px no-repeat;
}
.floating-icons li.small_rupee .hide-icon{
    background: url(../images/small_rupee.png) center 15px no-repeat;
} 
.floating-icons li.e_book .hide-icon{
    background: url(../images/e_book.png) center 15px no-repeat;
} 
.book_car_icon {
    width: 100%;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
    line-height: normal;
}
.book_car_text {
    width: 100%;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 9px;
    line-height: normal;
    font-family: 'medium';
}
.book_car_icon:before{
	content: "\e911";	
}
/*End Book Car Floating Container*/
.slider_fix_grid{
    background: url(../images/slider_fix.png);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    height: 70px;
    z-index: 9999;
    background-repeat: no-repeat;
}
.slider_fix_icon:before{
    content: "\e91c";
}
a.slider_fix_icon.icon_set {
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: block;
    color: #b9b8b8;
    font-size: 30px;
    margin-top: 22px;
    cursor: pointer;
}
a.slider_fix_icon.icon_set:hover{
    text-decoration: none;
}
img.slider_image {
    width: auto !important;
    height: auto;
}
span.slider_heading {
    color: #fff;
    font-family: 'heavy';
    font-size: 40px;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    position: relative;
    text-shadow: 1px 1px 0px #000;
}
span.slider_heading:before {
    content: "";
    color: #00b460;
    background: #00b460;
    height: 4px;
    width: 46px;
    left: -56px;
    top: 27px;
    position: absolute;
}
span.slider_tagline {
    font-family: 'heavy';
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    float: left;
    max-width: 315px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 1px 1px 0px #000;
}
.slider_caption {
    margin-top: 40px;
    position: absolute;
    top: 10%;
    right: 0;
    width: 36%;
    z-index: 999;
}
.slider_caption a.secondary_btn{
    border: 2px solid #fff;
    color: #fff;
    padding: 14px 39px 14px;
}

.title_line{
	position: relative;
	height: 2px;
    width: 30px;
    background: #00b460;
    float: left;
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: 34px;
}
.title_line:before {
    /*color: #00b460;
    background: #00b460;
    height: 2px;
    width: 30px;
    left: -46px;
    top: 16px;
    position: absolute;
    content: "";*/
}
span.info_text {
    font-size: 14px;
    color: var(--blue);
    margin-bottom: 30px;
    float: left;
    text-align: justify;
    line-height: 22px;
    font-family: 'medium'
}

.featured_cards {
    float: left;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0 20px 4px #00000000;
}
.featured_image {
    float: left;
    width: 100%;
}
.featured_image img {
    width: 100%;
    vertical-align: middle;
}

span.featured_caption {
    float: left;
    width: 100%;
    padding: 10px 18px 10px;
    margin-bottom: 10px;
}
span.car_title {
    float: left;
    width: 100%;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-family: medium;
    font-size: 14px;
}
span.car_price {
    float: left;
    width: 100%;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-family: heavy;
    font-size: 18px;
}
span.check_featured_price, a.check_featured_price {
    width: 100%;
    float: left;
    padding: 12px 18px 12px;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #e7ecf1;
    font-family: medium;
    cursor: pointer;
}
span.check_featured_price:hover, a.check_featured_price:hover {
    color: var(--green) !important;
    text-decoration: none;
}
.grid-box {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.grid-box img{
    width: 100%;
}
.book-btn{
    background: var(--blue);
    color: #fff;
    padding: 10px 10px 10px;
    float: left;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family: 'medium';
}
.book-btn:hover{
    text-decoration: none;
    color: #fff;
    background: #1a3674;
}
span.book-btn-icon.icon_set {
    margin-top: 4px;
    position: relative;
    top: 1px;
    left: 4px;
}
.book-btn-icon:before{
    content: "\e909";
    font-size: 12px;   
}
.icon-car2:before {
    content: "\e918";
}
.car-icon:before{
    content: "\e918";
}
.insurance-icon:before{
    content: "\e91a";
}
.icon-rupee:before {
    content: "\e919";
}
.icon-gears:before {
    content: "\e917";
  }
  .icon-chat:before {
    content: "\e91b";
  }
.grid-icon{
    position: relative;
    top: 3px;
    right: 10px;
    font-size: 22px;
}
ul.count_list {
    color: #fff;
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 90px;
}
.count_icon {
    color: #7082a7;
    font-size: 50px;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
span.count_title {
    color: #00b460;
    font-size: 40px;
    font-weight: 900;
    font-family: 'heavy';
    line-height: normal;
    margin-bottom: 10px;
    display: block;
}
span.count_tagline {
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
    font-family: 'heavy';
    line-height: normal;
}
img.floar-right-car {
    position: absolute;
    right: 0;
    top: -162px;
}




/*==============Number Count Section=========
======================================*/
.offers_section_container {
    width: 100%;
    float: left;
    background: #fff;
    height: 353px;
    background: url(../images/banner_03.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}



/*===============================================
=============   Offer Slider     ==============*/
.offers_slider_container a.secondary_btn {
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
  float: none;
  text-align: center;
  display: inline-block;
  padding: 14px 46px 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: all 300ms ease-out;
  font-weight: 500;
}
.offers_slider_container a.secondary_btn:hover, .offers_slider_container a.secondary_btn:focus{
  border: 2px solid #fff;  
}
.offers_slider_container a.secondary_btn .right-arrow-icon:hover, .offers_slider_container a.secondary_btn .right-arrow-icon:focus, .offers_slider_container a.secondary_btn:hover, .offers_slider_container a.secondary_btn:focus{
  color: #fff;
  cursor: pointer;
}


.left_box{
	position: absolute;
}
#schedule_test_drive .left_box_car{margin-top: 40px;}
#schedule_test_drive a.test_drive_btn{margin-top: 58px;}

/*=================== MAKE MODEL PAGE ======================
================================================================*/

.model_cars {
    float: left;
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
    transition: all 300ms ease-out;
}
.model_cars:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  
}

.model_cards {
    background: #fff;
    box-shadow: 0px 0 5px 2px #00000003;
    margin-bottom: 30px;
    transition: all 300ms ease-out;
}
.model_cards:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);  
}
.model_img {
    float: left;
    width: 100%;
    height: 150px;
}
.model_img:hover{
	cursor: pointer;
}
.make_caption {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    padding: 15px 15px 20px;
    border-top: 0px;
    color: var(--blue);
}
a.model_name {
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'heavy';
    color: var(--blue);
}
a.model_name:hover, span.model_name:hover, a.model_name:focus, span.model_name:focus{
    color: var(--green);
    text-decoration: none;
}
.model_price {
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'heavy';
    line-height: normal;
}
.ex_showroom {
    float: left;
    width: 100%;
    line-height: normal;
    font-size: 12px;
    font-family: 'medium';
    margin-top: 5px;
}
.onwards-inline{    
	font-size: 13px;
    line-height: normal;
    margin-left: 5px;
}
span.book_test_drive, a.book_test_drive{
	position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'medium';
    font-size: 14px;
    cursor: pointer;
    color: var(--blue);
    text-decoration: none;
}
span.book_test_drive .icon-test-drive:hover{
    color: var(--green);
    transition: all 300ms ease-out;
}
span.book_test_drive:hover, a.book_test_drive:hover, a.book_test_drive:focus, span.book_test_drive:focus{
	color: var(--green);
	transition: all 300ms ease-out;
}
.icon-test-drive{
	color: var(--blue);
    font-size: 10px;
    margin-top: 2px;
    margin-left: 10px;
    font-weight: 700;
} 
.right-arrow:before{
	content: "\e909";
    position: relative;
}
/*This is for 2 Button placed on Model Listing card's*/
.model_btn_group{
	padding: 20px 0px 20px;
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}
.model_btn_group a.test_drive_btn, .model_btn_group span.test_drive_btn{
	margin-top: 10px;
    margin-bottom: 10px;
}
.model_btn_group .book_test_drive{
	margin-top: 10px;
}
/*Read more and Read Less Content Text Area*/
.text-content{
    float: left;
    width: 100%;
}

.short-text {
    overflow: hidden;
    height: 400px;;
}
.full-text{
    height: auto;
}
.show-more{
    float: left;
    width: 100%;
}
.show-more a{
    background: transparent;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid #d5d7db;
    color: #0e2241 !IMPORTANT;
    margin-top: 10px;
}
.show-more a:hover{
    text-decoration: none;
    background: #f7f9fb;
}
/*==== END ====*/

/*Model Colors Container*/
.colors_container {
    width: 100%;
    float: left;
    display: table;
    /*background: #fafafa;*/
}
span.color_box {
    width: 50%;
    float: left;
    display: table-row;
    margin-bottom: 18px;
    height: 26px;
    vertical-align: middle;
}
span.color_rgb {
    float: left;
    width: 30px;
    height: 26px;
    border: 1px solid #f1f1f1;
}
span.color_name {
    float: left;
    margin-left: 7px;
    font-size: 12px;
    font-family: 'medium';
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
}
tr.colors-row {
    width: 50%;
    float: left;
    padding: 0;
    vertical-align: middle;
    margin-bottom: 12px;
}
td.color_rgbs {
    width: 20%;
}
td.color_nam {
    width: 80%;
}
td.color_nam, td.color_rgbs{
    padding: 0px;
    vertical-align: middle;
    border-top: 0;
}
span.count_title.per:after {
    content: "%";
}

/*=================== WIDGETS  ======================
================================================================*/
.test_drive_widget {
    width: 100%;
    float: left;
    background: var(--blue);
    height: 238px;
    background: url(../images/right_side_bg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 20px;
}
span.widget_title {
    text-align: left;
    font-family: 'medium';
    color: #fff;
    font-size: 24px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    text-transform: uppercase;
    float:left;
    letter-spacing: 1.2pt;
    max-width: 100%;
}
span.widget_readmore {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    line-height: normal;
    font-family: 'book';
    width: 100%;
    cursor: pointer;
    float: left;
}
.test_drive_widget a.test_drive_btn{
    width: 100%;
}
.offer_widget {
    width: 100%;
    float: left;
    background: var(--blue);
    height: 238px;
    background: url(../images/right_side_offer__bg.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 20px;
    margin-bottom: 70px;
}
.right_side_offer_img{
	position: absolute;
    bottom: -14px;
    width: 100%;
	left: -5%;
	right: -5%;
	margin-right: auto;
	margin-left: auto;
}
.offer_widget .widget_title{
	color: #fff;
    font-size: 20px;
    float: left;
    text-align: left;
    font-family: 'book';
    line-height: normal;
    text-transform: none;
    letter-spacing: 0;
}
.offer_widget .widget_readmore{
	font-size: 10px;

}
.app_widget {
    float: left;
    width: 100%;
    margin-top: 20px;
    background: #143e71;
    color: #fff;
    padding-top: 40%;
    padding-bottom: 8%;
    padding-left: 10px;
    padding-right: 10px;
}
span.app_tagline {
    text-align: center;
    font-family: 'medium';
    width: 100%;
    display: block;
    max-width: 70%;
    margin: 0 auto;
    line-height: normal;
    margin-bottom: 30px;
}


/*=================== END of WIDGETS  ======================
================================================================*/

/*=========== Contact Infomation CSS ==============
===========================================*/
.address_container {
    float: left;
    width: 100%;
    position: relative;
    background: #fff;
    padding: 70px 0px 70px;
}
.location_info, .contact_info {
    width: 100%;
    margin-bottom: 20px;
    height: 70px;
}

.locaton_icon, .email_icon, .phone_icon{
    position: relative;
    float: left;
    width: 10%;
    padding: 3px 0px 5px;
    margin-right: 1%;
}
.contact_number, .address {
    float: left;
    font-size: 14px;
    color: var(--blue);
    font-family: 'medium';
    width: 89%;
}

.locaton_icon:before {
    color: var(--green);
    font-size: 26px;
}
.phone_icon:before {
    color: var(--green);
    font-size: 26px;
}
.email_icon:before {
    color: var(--green);
    font-size: 26px;
}

span.go_to_map {
    float: left;
    font-size: 18px;
    font-family: 'medium';
    line-height: normal;
    position: relative;
    cursor: pointer;
    color: var(--blue);
}
.go_to_map a{
   color: var(--blue);
   text-decoration: none; 
}
span.go_to_map:hover, .go_to_map a:hover, .go_to_map a:focus{
	color: var(--green);
}
.google_icon:before {
    
    font-size: 24px;
    content: "\e906";
    position: absolute;
    left: 168px;
    top: 1px;
}
/*End of Location*/


/*Common Icon set*/
.right_arrow_o:before{
	content: "\e909";
    position: relative;
    float: right;
    right: 29px;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
}
.right_arrow_h:before{
	content: "\e909";
    position: relative;
    float: right;
    right: 8px;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
}

/*Common CSS*/
input#datepicker {
    border-bottom: 1px solid #184275;
    background-color: #fff;
    border-radius: 0;
    padding: 12px 20px 12px;
    line-height: normal;
    font-size: 14px;
    color: #b0aea5;
    transition: none;
    font-weight: 500 !important;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    margin-bottom: 10px;
    width: 100%;
}
.icon-downloaded-symbol:before {
    content: "\e91d";
    margin-right: 5px;
}
a.download_e-brochure {
    color: var(--blue);
    font-size: 14px;
    line-height: normal;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 0px;
    float: left;
    text-decoration: none;
}
a.download_e-brochure:hover{
    color: var(--green);
}
/*============ Thank you page and 404 Error Page=============
============================================================*/
.global-text {
    font-family: 'medium';
    font-size: 14px;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.global-text-16-heavy {
    font-family: 'heavy';
    font-size: 16px;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.primary-text {
    font-family: 'heavy';
    font-size: 26px;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
img.img-center {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.grid-item { 
    padding-left:0px;
    padding-right:0px;
    background-color:#fff;
}
.grid .col-md-4 {max-width:31.333333%;}
.mr_2 {margin-right:2%;}
/*============ Used Car Listing Page CSS =============
======================================================*/

.used_car_grid {
    float: left;
    width: 100%;
    background: #fff;
    border: 1px solid #e7ecf1;
    margin-bottom: 20px;
}

.used_car_image {
    height: 183px;
    background-color: #dcdcdc;
}
.used_car_caption {
    float: left;
    width: 100%;
    padding: 15px 15px 20px;
    padding-right: 10px;
}
span.used_title {
    width: 100%;
    float: left;
    text-align: left;
    line-height: normal;
    font-family: 'medium';
    color: var(--blue);
    font-size: 14px;
    height: 34px;
}
span.used_price {
    width: 100%;
    float: left;
    text-align: left;
    line-height: normal;
    font-family: 'heavy';
    color: var(--blue);
    font-size: 18px;
    margin: 5px 0px 10px;
}
span.km {
    color: #808894;
    font-size: 12px;
    font-family: 'book';
    margin-right: 10px;
    text-align: left;
    float: left;
    text-transform: capitalize;
    letter-spacing: 0.2pt;
}
span.km i{margin-right: 2px;}
.white-background{
    background: #fff;
    padding: 15px;
}
.used_car_gallery{
    height: 250px;
    background-color: #dcdcdc;
    margin-right: 20px;
}

.dealer_info {
    float: left;
    width: 100%;
    border: 1px dashed var(--green);
    padding: 10px 20px 10px;
}
ul.dealer_item {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px;
}
ul.dealer_item>li {
    line-height: 28px;
}

ul.used_basic_info {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    color: #808894;
    font-size: 14px;
    float: left;
    text-transform: capitalize;
}
ul.used_basic_info>li {
    text-align: left;
    line-height: 25px;
    margin-left: 1px;
    position: relative;
}

.used_car_name{
    width: 100%;
    float: left;
    text-align: left;
    line-height: normal;
    font-family: 'heavy';
    color: var(--blue);
    font-size: 14px;
    margin: 10px 0px 5px;
}
span.used_prices{
    width: 100%;
    float: left;
    text-align: left;
    line-height: normal;
    font-family: 'heavy';
    color: var(--blue);
    font-size: 24px;
    margin: 5px 0px 10px;
}
span.used_car_description.w-100 {
    line-height: normal;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heavy_16 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'heavy';
    font-size: 16px;
}
.form-check-input{
    margin-left: 0px;
}
.featured_used_car .image_aspect_img{
    width: auto !important;
}
.featured_used_car .owl-prev {
    position: absolute;
    left: -22px;
    top: 40%;
    z-index: 99999;
    background: #e3e3e3 !IMPORTANT;
    color: #0e2241 !important;
    border: 0;
    border-radius: 0 !important;
    height: 40px !important;
    width: 40px !important;
}
.featured_used_car .owl-next {
    position: absolute;
    right: -22px;
    top: 40%;
    z-index: 99999;
    background: #e3e3e3 !IMPORTANT;
    color: #0e2241 !important;
    border: 0;
    border-radius: 0 !important;
    height: 40px !important;
    width: 40px !important;
}
.featured_used_car .prev_nav:before{
    color: var(--blue);
    font-size: 20px;
    top: 6px;
    position: relative;
}

.featured_used_car .next_nav:before{
    color: var(--blue);
    font-size: 20px;
    top: 6px;
    position: relative;
}
.buyer_benefit {
    background: #fff;
    border: 1px dashed var(--green);
    padding: 10px 15px 10px;
    width: 100%;
    float: left;
    position: relative;
}
ul.benefit_item {
    padding-left: 20px;
    margin-bottom: 0;
    float: left;
    line-height: 26px;
}
ul.benefit_item>li{
    float: left;
}
h2.benefit_title {
    line-height: normal;
    margin: 5px 0px 5px;
    margin-left: -18px;
    font-size: 18px;
    font-family: 'heavy';
}
.used_car_details {
    float: left;
    width: 100%;
    position: relative;
    padding-left: 20px;
}
ul.spec_list {
    float: left;
    text-align: left;
    list-style: none;
    padding-left: 0;
}

.lSSlideOuter .lSPager.lSGallery img{
    width: auto;
    height: auto;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
ul.spec_list>li {
    line-height: 26px;
}
ul.spec_list>li>span:after{
    content: ":";
}
ul.spec_list>li>span.spec_name:after{
    content: none;
}
ul.spec_list>li>span.spec_name{
    font-family: 'heavy';
}
.icon-back:before {
    content: "\e908";
    font-size: 10px;
    font-weight: 700;
}
a.back_btn {
    color: var(--blue);
    font-size: 14px;
    background: #fff;
    border: 1px solid var(--blue);
    padding: 3px 20px 3px;
    float: left;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
a.back_btn>span.text {
    text-align: center;
    margin: 0 auto;
    display: block;
}
span.cerified {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--green);
    cursor: default;
}
.icon-medal:before {
    content: "\e91e";
    font-size: 20px;
    margin-right: 5px;
    top: 3px;
    position: relative;
}
.modal-seller-details{
    max-width: 40%;
}
.lead_form_usedcar {
    width: 100%;
    float: left;
    padding: 5px 15px 0px 0px;
}
.modal-body {
    padding: 0px 15px 0px;
}
#used-car-gallery{
    margin-right: 0px;
}
.icon-gas-station:before {
    content: "\e91f";
  }
  .icon-dispenser:before {
    content: "\e920";
  }
  .icon-vehicle-speedometer:before {
    content: "\e921";
  }
  .icon-user:before {
    content: "\e922";
  }
  .modal-header .close {
    padding: 15px;
    margin: -66px -25px 0px auto;
  }
/*USED CAR CSS END*/
.certified-box{
    margin-right: 0px;
    float: right;
    margin-top: 4px;
}
.refine_box .form-check-label{
    padding-left: 5px;
    margin-top: -4px;
    float: left;
}

#more-text{
    display:none;
}
.btn-container {
    margin: 0;
    height: 30px;
    width: 100%;
    float: left;
    position: relative;
}
.btn-container:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 32px;
    height: 34px;
    background: rgba(255, 255, 255, 0.7);
}
.btn-container button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    border: none;
    padding: 8px;
    font-size: 14px;
    background: transparent;
    color: var(--blue);
    font-family: 'medium';
    text-align: left;
}

.lSSlideOuter .lSPager.lSGallery li>a {
    object-fit: cover;
    background-color: #dcdcdc;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0 !important;
    
}

.usedcar_price{font-size: 14px;}
.usedcar_prices{font-size: 18px;}
.usedcar_price:before{content: "\e900";font-weight: 700;}
.usedcar_prices:before{content: "\e900";font-weight: 700;}
.used_car_filter .col-md-2 {padding-right: 0;}
.used_car_filter .col-md-1 {padding-right: 0;padding-left: 0px;}
.used_car_filter .gloabl_select {
    padding: 10px 11px 10px;
    height: calc(2.63rem + 2px);
    text-align: left;
    font-size: 12px;
    border: 1px solid #b6b9bd;
}

/*Career Page CSS*/
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.position_dsc {
    float: left;
    width: 100%;
    background: #fff;
    padding: 5px 15px 10px;
    border: 1px solid #ececec;
    border-bottom: 1px solid #184275;
}
.position_dsc .title {
    line-height: normal;
    margin: 5px 0px 3px;
    font-family: 'heavy';
    padding-right: 15px;
}

.our_team_container {
    float: left;
    width: 100%;
    background: #fff;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border: 1px solid #e2e2e2;
}
.team_banner {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 450px;
}
.team_overlay {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}
.team_caption {
    position: absolute;
    left: 20%;
    right: 20%;
    width: 55%;
    text-align: center;
    color: #fff;
    bottom: 30%;
}
.team_caption>.title {
    font-size: 52px;
    font-family: 'heavy';
    line-height: normal;
}
span.tagline {
    line-height: normal;
    font-size: 22px;
}
img.our_team_img {
    width: 100%;
    margin-top: -70px;
}
span.team_dec {
    font-family: 'book';
    font-size: 14px;
    margin-top: 10px;
    float: left;
    margin-bottom: 20px;
    text-align: left;
    line-height: normal;
}
.team_details {
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
}
.team_image img {
    width: 100%;
}
span.name {
    width: 100%;
    float: left;
    text-align: left;
    line-height: normal;
    font-family: 'heavy';
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
span.postion {
    width: 100%;
    float: left;
    text-align: left;
    line-height: normal;
    font-family: 'medium';
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 8px;
}
/*End*/
ul#dynamic-list {
    float: left;
    width: 100%;
    padding-left: 0;
    list-style: none;
}
ul#dynamic-list>li {
    font-size: 12px;
    text-transform: capitalize !important;
    font-family: 'medium';
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
span.remove_secton {
    width: 8%;
    float: left;
    border: none !important;
    padding: 0 !IMPORTANT;
    border-radius: 0 !IMPORTANT;
}
span.ass_name {
    float: left;
    width: 70%;
}
.minus_icon{
    font-size: 16px;
    text-align: left;
    float: left;
}
.minus_icon::before{
    content: "\e926";
    font-weight: 600;
}
span.icon_set.acc_price {
    float: left;
    text-align: left;
    position: relative;
    margin-top: -3px;
}
.acc_price::before{
    content: "\e900";
    font-size: 11px;
    font-weight: 600;
}
tr.accesories_row {
    width: 100%;
    float: left;
    vertical-align: middle;
    padding: 0;
}
td.acc_col_img{
    width: 16%;
}
td.acc_col_name{
    width: 56%;
}
td.acc_col_price{
    width: 13%;
}
td.acc_col_cta{
    width: 14%;
}
.table_acc th, .table_acc td {
    padding: 0;
    vertical-align: middle;
}
td.acc_col_img>img {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px;
    max-width: 90%;
    float: none;
}
.accesories-modal {
    margin-left: 150px;
    max-width: 400px !important;
}
span.ass_price {
    float: right;
    width: 20%;
    font-size: 16px;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: right;
    font-family: 'heavy';
}
span.ass_price .icon-indian-rupee:before{
    font-size: 12px;
    font-weight: 900;
}
span.remove_acce_to_price {
    cursor: pointer;
    border: 1px solid var(--blue);
    border-radius: 20px;
    padding: 1.5px 12px 1.5px;
}
.icon-more:before {
   content: "\e925";
}
.add_item_acc{
    text-align: center;
    float: left;
    width: 100%;
}
.add_item_acc:before{
    content: "\e925";
}
.remove_item_acc {
    border: 0 !important;
    border-radius: 0 !IMPORTANT;
    padding: 0 !important;
    text-align: center;
    float: left;
    width: 100%;
    color: var(--green);
}
.remove_item_acc:before{
    content: "\e926";
    font-weight: 600;
}
i.icon_set.icon-more {
    font-size: 18px;
    float: left;
    margin-right: 10px;
}
.add_acc_btn{
    font-size: 12px;
    float: left;
    font-family: 'book';
    text-underline-position: under;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 0px;
    color: var(--blue);
}
.add_acc_btn:hover{
    color: var(--green);
}
span.itemdesc {
    font-size: 12px;
    font-family: 'book';
    text-align: left;
    float: left;
    text-transform: capitalize !important;
    line-height: normal;
    padding-right: 5%;
}
.accesories-done {
    border-radius: 0px;
    background-color: var(--green);
    border: 1px solid var(--green) !important;
    color: #ffffff !important;
    padding: 13px 0px 13px;
    text-align: center;
    cursor: pointer;
}
.accesories-cancel {
    width: 100%;
    border: 1px solid #000;
    border-radius: 0px;
    float: left;
    background-color: #fff !important;
    color: var(--blue) !important;
    padding: 13px 0px 13px;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 768px){
    .used_car_filter .col-md-1 {padding-right: 15px;padding-left: 15px;}
    .used_car_filter .col-md-2 { padding-right: 15px;}
    .modal-seller-details{max-width: 100%;}
    .lead_form_usedcar {padding: 0px;}
    .used_car_details {padding-left: 0px;}
    .featured_used_car .owl-prev {left: 10px;}
    .featured_used_car .owl-next {right: 10px;}
    .grid .col-md-4{max-width:100%;}
    .mr_2{margin-right:0;}
	#schedule_test_drive .left_box_car{margin-top: 20px;}
	#schedule_test_drive a.test_drive_btn{margin-top: 20px;float: none;width: 100%;}
	.left_box{display: none;}
	.home_slider_container{
		height: 100%;
	}
	.slider_caption a.test_drive_btn_mobile{
		width: 100%;
	}
	.slider_caption a.secondary_btn{
		width: 100%;
		margin-left: 0px;
	}
	span.slider_heading:before {
        width: 35px;
        left: 0px !important;
        top: -10px;
	}
	.test_drive_widget{
		height: 100%;
	}
	.featured_cards{
		margin-bottom: 20px;
	}
    /*Model Listing Page*/
    .model_btn_group {
        padding: 0px;
    }
    .test-drive{

    }
	.model_btn_group a.test_drive_btn, .model_btn_group span.test_drive_btn {
	    margin-top: 0;
	    margin-bottom: 0;
        float: left;
        width: 100%;
        padding: 15px;
	}
	.model_btn_group .book_test_drive {
	    margin-bottom: 10px;
	    float: none;
	    width: 100%;
	    text-align: center;
	    margin-top: 15px;
	}
	.model_img{
		height: 200px;
	}
    .page_filter .filter_input {
        padding: 0px 30px 0px 7px;
    }
	/*Model Page CSS*/
	.model_header, .colors_container{
		padding: 5px 15px 5px;
	}
	.right_side_offer_img{
		width: 90%;
		left: 5%;
		right: 5%;
		margin-right: auto;
		margin-left: auto;
		bottom: -60px;
	}

}